/* :root {
    --bg-color: #fafaf9;
    --hero-text-color: #262626;
    --nav-color: #000000;
    --about-body-color: #aeae9d;
    --about-body-color: rgb(146, 146, 131);
    --about-credential-heading-color: #8c8c73;
    --heading-font: "General Sans", sans-serif;
    --body-font: "Cabinet Grotesk", sans-serif;
    --link-color: #262626cc;
    --link-color-hover: #262626;
  } */

#about {
  min-height: 100vh;
  /* margin-top: 4rem; */
  margin-top: 30vh;
  /* padding-top: 4rem; */
  padding: 4rem 0;
  width: 100%;
}
.about-heading,
.credential-heading,
.contact-at-heading {
  text-transform: uppercase;
  font-family: var(--heading-font);
  color: var(--about-credential-heading-color);
  font-weight: 550;
  font-size: 6rem;
  text-align: center;
}

.credential-heading {
  margin-bottom: 3.125rem;
  /* background-image: url("../hero-bg-c&c-main-page.png");
  background-size: cover; */
  /* background-position: right; */
}

.about-text {
  font-family: var(--heading-font);
  /* font-size: 4rem;
  font-weight: 600; */
  color: var(--about-body-color);
  margin-top: 3.125rem;
}

.main-about-line {
  color: #272727b9;
  font-size: 1.5rem;
  font-weight: 550;
  margin-bottom: 2rem;
}

.tldr {
  color: #272727b9;
  font-size: 1.7rem;
  font-weight: 550;
  /* margin-bottom: 1rem; */
}

#guide {
  margin-bottom: 5rem;
}

.about-text-area .ques {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--link-color);
  margin: 1rem 0;
  border-top: 1px solid var(--link-color-hover);
  border-bottom: 1px solid var(--link-color-hover);
  cursor: pointer;
}

.about-child-container {
  margin-bottom: 2rem;
}

.about-child-container .feature-list {
  margin: 1rem 0;
  padding-left: 4ch;
  font-size: 1.1rem;
  color: #272727b9;
  font-weight: 500;
  line-height: 140%;
}
.about-child-container .child-heading {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--link-color);
  margin: 1rem 0;
  /* border-top: 1px solid var(--link-color-hover);
  border-bottom: 1px solid var(--link-color-hover); */
  cursor: pointer;
}

.about-text-area .answer {
  font-size: 1.1rem;
  color: #272727b9;
  font-weight: 500;
  margin-bottom: 3rem;
}

#faq {
  color: var(--link-color);
}

#access-control-list {
  margin-left: 2rem;
}

.feature-list li{
  line-height: 150%;
}

@media (max-width: 30rem) {
  .credential-heading, .about-heading{
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  #about {
    margin-top: 5vh;
    padding: 1rem 0;
    min-height: 60vh;
  }
  .about-text {
    font-size: 1rem;
    font-weight: 400;
  }

}