
.alert-container {
    opacity: 0;
    pointer-events: none;
    height: 40px;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: var(--about-body-color);
    transform: translateY(-50%);
    transition: opacity 200ms ease-in-out , transform 200ms ease-in-out;
    font-family: var(--body-font);
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: #fafaf9;
    position: sticky;
    top: 80px;
    z-index: -2;
    overflow-x: auto;
    overflow-y: auto;
  }
  
  .alert-box-activate {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    z-index: 3;
  }

@media (max-width: 30rem) {
  .alert-container {
    font-size: .67rem;
  }
}