@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        /* scale: .7; */
    }
    /* 65% {
        opacity: 0;
    } */
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}