
.contact-at-heading {
  margin-top: 2rem;
}
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 8rem;
}
.contact-heading,
.socials-heading {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--hero-text-color);
  margin: 1.3rem 0;
}

.mail,
.social-links {
  text-decoration: none;
  font-family: var(--body-font);
  font-size: 1.2rem;
  color: var(--link-color);
  font-weight: 500;
  padding: 3px;
  margin-bottom: 1rem;
  transition: all 0.2s;
}

.social-links > a {
  text-decoration: none;
  display: block;
  color: var(--link-color);
}

.mail:hover,
.social-links > a:hover {
  color: var(--link-color-hover);
} 