/* :root {
  --bg-color: #fafaf9;
  --hero-text-color: #262626;
  --nav-color: #000000;
  --about-body-color: #aeae9d;
  --about-body-color: rgb(146, 146, 131);
  --about-credential-heading-color: #8c8c73;
  --heading-font: "General Sans", sans-serif;
  --body-font: "Cabinet Grotesk", sans-serif;
  --link-color: #262626cc;
  --link-color-hover: #262626;
} */
#credential {
  min-height: 100vh;
  /* margin-top: 4rem; */
  padding-top: 4rem;
  width: 100%;
}

.credential-template {
  width: 80%;
  height: 3.75rem;
  text-align: center;
  font-family: var(--body-font);
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(146, 146, 131, 0.23);
  margin-bottom: 20px;
}


.credential-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  font-family: var(--body-font);
}

.credential-template {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .upload-container {
  width: 5%;
  height: 80%;
} */

/* .cred-image-upload-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  border: 2px solid #8c8c73d3;
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--body-font);
} */

/* .upload-dropdown {
  opacity: 0;
  position: absolute;
  top: calc(0 + 0.25rem);
  transform: translateY(-10px) translateX(0);
  transition: opacity 120ms ease-in-out, transform 120ms ease-in-out;
  background-color: var(--bg-color);
  height: auto;
  box-shadow: 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(146, 146, 131, 0.23);
  pointer-events: none;
  display: flex;
  flex-direction: row;
  z-index: -1;
  border-radius: 10px;
  margin: 3px;
}

.upload-container.activated-upload > .upload-dropdown {
  opacity: 1;
  transform: translateY(-30px) translateX(-55px);
  pointer-events: auto;
  z-index: 1;
} */

.key {
  height: 80%;
  width: 27%;
  border: 2px solid #8c8c73d3;
  font-family: var(--body-font);
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 6px;
  color: var(--link-color);
  font-weight: 450;
}
.value {
  height: 80%;
  width: 57%;
  border-style: none;
  border: 2px solid #8c8c73d3;
  font-family: var(--body-font);
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 6px;
  color: var(--link-color);
  font-weight: 450;
}

.add-btn {
  border: 2px solid #8c8c73d3;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  border-radius: 6px;
  color: var(--link-color);
}

#cred-store-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px;
  margin-bottom: 5rem;
}

.new-class {
  width: 100%;
  height: 60px;
  color: var(--link-color);
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  box-shadow: 0px 10px 15px -3px rgba(146, 146, 131, 0.4);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(146, 146, 131, 0.23);
  border-radius: 6px;
}

.new-class .key,
.new-class .value {
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-color: #8c8c73 #fafaf9;
  scrollbar-width: thin;
  text-align: center;
  cursor: copy;
}

.new-class .key {
  min-width: 10%;
  max-width: 25%;
  height: 80%;
  width: 25%;
}

.new-class .value {
  min-width: 20%;
  max-width: 50%;
  height: 80%;
  width: 38%;
}

.new-class > .edit-container {
  width: 10%;
  height: 80%;
  border: 2px solid #8c8c73d3;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  align-items: center;
  border-radius: 6px;
}

.add-user {
  display: flex;
  width: 12%;
  height: 80%;
  border: 2px solid #8c8c73d3;
  flex-direction: column;
  border-radius: 6px;
}
.delete-btn {
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: var(--link-color);
}

#button {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

#button > div {
  padding-left: 8px;
}

#arrow-down-svg {
  color: var(--link-color);
}


@media (max-width: 30rem) {
  #credential {
    min-height: 60vh;
  }
  .credential-template {
    width: 100%;
    height: 2.75rem;
    margin-bottom: .675rem;
  }
  .credential-template .key {
    height: 80%;
    width: 30%;
  }
  .credential-template .value {
    height: 80%;
    width: 50%;
  }
  .add-btn {
    font-size: 2rem;
  }
  #cred-store-container {
    width: 100%;
  }
  .new-class {
    width: 100%;
    height: 2.4rem;
    margin-bottom: .6rem;
  }
  .new-class .key {
    height: 80%;
    width: 20%;
    font-size: .62rem;
  }
  .new-class .value {
    height: 80%;
    width: 30%;
    font-size: .62rem;
  }
  .add-user {
    width: 18%;
    font-size: .6rem;
  }
  .new-class > .edit-container {
    width: 10%;
    font-size: .7rem;
  }
  .delete-btn {
    font-size: 1.1rem;
  }
  .info-btn {
    display: grid;
    place-content: center;
  }
   .info-btn svg {
    width: 15px !important;
    height: 15px !important;
   }
}