

#hero-container {
  /* width: calc(100 - 100vw);
  height: auto;
  overflow-x: hidden;
  display: grid;
  place-content: center;
  position: relative;
  font-family: var(--heading-font); */
}

.central-image-container {
  /* margin: auto;
    z-index: -1;
  border: 1px solid black;
  width: 45vw;
  height: 110vh;
  background-image: url(../hero-bg-c&c-main-page.png);
  background-size: cover; */
}

/* .scribble-container,
.sculpt-container,
.curate-container {
  font-family: var(--heading-font);
  font-size: 8em;
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--hero-text-color);
  width: 100vw;
  z-index: 1;
}

.scribble-container {
  padding-left: 15%;
  position: absolute;
  top: 8px;
  opacity: 0.94;
}
.sculpt-container {
  opacity: 0.9;
  text-align: center;
  position: absolute;
  top: 181px;
}
.curate-container {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 5%;
  position: absolute;
  top: 354px;
}

.hero-text-para {
  background: url(../text_bg2good.jpg) -50%;
  background-size: cover;
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
} */

#till-the-contact {
  width: 90vw;
  margin: auto;
  /* margin-top: 8rem; */
}


/* @media (max-width: 30rem) {
  .central-image-container {
    width: 70vw;
    height: 60vh;
    margin: 0 auto;
  }
} */