

.info-btn.activated > .cred-info{
    opacity: 1;
    transform: translateY(10px) translateX(-80%);
    pointer-events: auto;
    z-index: 1;
    cursor: default;
  }
  
  .info-ele {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 28% 58% 8%;
    gap: 10px;
    place-content: center;
    text-align: center;
    border: 2px solid #8c8c73d3;
    border-radius: 6px;
  }
  
  .role-ele, .username-ele {
    background-color: #dadabfd5;
    color: var(--link-color);
    border-radius: 3px;
    padding: 5px;
  }

  .role-ele {
    display:grid;
    place-content: center;
  }

  .username-ele {
    overflow-x: auto;
    scrollbar-color: #8c8c73 #fafaf9;
    scrollbar-width: thin;
  }
  
  .remove-ele {
    display: grid;
    place-content: center;
    cursor: pointer;
  }
  .info-btn {
    cursor: pointer;
  }