* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: hsla(120, 94%, 69%, 0.226); */
  }


  :root {
    --bg-color: #fafaf9;
    --hero-text-color: #262626;
    --nav-color: #000000;
    --about-body-color: #aeae9d;
    --about-body-color: rgb(146, 146, 131);
    --about-credential-heading-color: #8c8c73;
    --heading-font: "General Sans", sans-serif;
    --body-font: "Cabinet Grotesk", sans-serif;
    --link-color: #262626cc;
    --link-color-hover: #262626;
    --classic-blue: #5959fc;
  }
  
  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
  }
  
  body {
    background-color: var(--bg-color);
  }

  html, body {
    overflow-x: hidden;
  }
  
  [href] {
    text-decoration: none;
  }

  .shared-color{
    outline: 2px dashed var(--about-credential-heading-color) ;
  }
  