
.shared-cred-template {
    width: 100%;
    height: 60px;
    color: var(--link-color);
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0px 10px 15px -3px rgba(146, 146, 131, 0.4);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(146, 146, 131, 0.23);
    border-radius: 6px;
  }
  
  .shared-cred-template .key, .shared-cred-template .value {
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-color: #8c8c73 #fafaf9;
    scrollbar-width: thin;
    text-align: center;
    cursor: copy;
  }
  .shared-cred-template .key {
    min-width: 10%;
    max-width: 25%;
    height: 80%;
    width: 25%;
  }
  
  .shared-cred-template .value {
    min-width: 20%;
    max-width: 50%;
    height: 80%;
    width: 38%;
  }
  
  .shared-cred-template .key, .shared-cred-template .value{
    max-width: none;
  }
  
  .shared-cred-template .edit-container{
    width: 10%;
    height: 80%;
    border: 2px solid #8c8c73d3;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    align-items: center;
    border-radius: 6px;
  }

  .cred-info {
    opacity: 0;
    position: absolute;
    top: calc(0 + .25rem);
    transition: opacity 120ms ease-in-out, transform 120ms ease-in-out;
    background-color: var(--bg-color);
    height: auto;
    box-shadow:  2px 5px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(146, 146, 131, 0.23);
    pointer-events: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: -1;
    border-radius: 10px;
    margin: 3px;
    width: 30%;
    transform: translateY(0) translateX(-50%);
  }